{extend name="base" /}
      {block name="title"} <title>Contact - Heldro.local</title>{/block}
      {block name="pageid"} .page-id-8213.eltdf-boxed .eltdf-wrapper { background-attachment: fixed;} {/block}
      {block name="content"} 
            <div class="eltdf-content" >
                <div class="eltdf-content-inner"><div class="eltdf-title eltdf-breadcrumb-type eltdf-content-left-alignment" style="height:100px;" data-height="100" >
        <div class="eltdf-title-holder" style="height:100px;">
        <div class="eltdf-container clearfix">
            <div class="eltdf-container-inner">
                <div class="eltdf-title-subtitle-holder" style="">
                    <div class="eltdf-title-subtitle-holder-inner">
                                                        <div class="eltdf-breadcrumbs-holder"> <div class="eltdf-breadcrumbs"><div class="eltdf-breadcrumbs-inner"><a href="http://heldro.test/">Home</a><span class="eltdf-delimiter">&nbsp; / &nbsp;</span><span class="eltdf-current">Contact</span></div></div></div>
                                                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="eltdf-container eltdf-default-page-template">
		<div class="eltdf-container-inner clearfix">
					<div class="eltdf-grid-row">
				<div class="eltdf-page-content-holder eltdf-grid-col-12">
					<div role="form" class="wpcf7" id="wpcf7-f5-p8213-o1" lang="nl-NL" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/contact/#wpcf7-f5-p8213-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="5" />
<input type="hidden" name="_wpcf7_version" value="5.0.4" />
<input type="hidden" name="_wpcf7_locale" value="nl_NL" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p8213-o1" />
<input type="hidden" name="_wpcf7_container_post" value="8213" />
</div>
<p><label> Uw naam (verplicht)<br />
    <span class="wpcf7-form-control-wrap uw-naam"><input type="text" name="uw-naam" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Uw emailadres (verplicht)<br />
    <span class="wpcf7-form-control-wrap uw-email"><input type="email" name="uw-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </label></p>
<p><label> Onderwerp<br />
    <span class="wpcf7-form-control-wrap onderwerp"><input type="text" name="onderwerp" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </label></p>
<p><label> Bericht<br />
    <span class="wpcf7-form-control-wrap bericht"><textarea name="bericht" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input type="submit" value="Verstuur" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
				</div>
							</div>
			</div>
	</div>
</div> <!-- close div.content_inner -->
	</div>  <!-- close div.content -->
{/block}