{extend name="base" /}
{block name="title"} <title>Archief Producten - Heldro.local</title> {/block}
{block name="pageid"} .archive.eltdf-boxed .eltdf-wrapper { background-attachment: fixed;} {/block}
 {block name="nav1"}                       
<nav class="eltdf-main-menu eltdf-drop-down eltdf-default-nav">
    <ul id="menu-main-manu" class="clearfix"><li id="nav-menu-item-11278" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="/" class=""><span class="item_outer"><span class="item_text">Home</span></span></a></li>
<li id="nav-menu-item-11569" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{:url('index/index/opscheppunten')}" class=""><span class="item_outer"><span class="item_text">Opscheppunten</span></span></a></li>
<li id="nav-menu-item-11282" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item eltdf-active-item narrow"><a href="{:url('index/index/ijsproducten')}" class=" current "><span class="item_outer"><span class="item_text">IJsproducten</span></span></a></li>
<li id="nav-menu-item-11724" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{:url('index/index/verkooppunten')}" class=""><span class="item_outer"><span class="item_text">Verkooppunten</span></span></a></li>
<li id="nav-menu-item-11486" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{:url('index/index/contact')}" class=""><span class="item_outer"><span class="item_text">Contact</span></span></a></li>
</ul></nav>
{/block}
{block name="nav2"}                     
<nav class="eltdf-main-menu eltdf-drop-down eltdf-sticky-nav">
    <ul id="menu-main-manu-1" class="clearfix"><li id="sticky-nav-menu-item-11278" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="/" class=""><span class="item_outer"><span class="item_text">Home</span><span class="plus"></span></span></a></li>
<li id="sticky-nav-menu-item-11569" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{:url('index/index/opscheppunten')}" class=""><span class="item_outer"><span class="item_text">Opscheppunten</span><span class="plus"></span></span></a></li>
<li id="sticky-nav-menu-item-11282" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item eltdf-active-item narrow"><a href="{:url('index/index/ijsproducten')}" class=" current "><span class="item_outer"><span class="item_text">IJsproducten</span><span class="plus"></span></span></a></li>
<li id="sticky-nav-menu-item-11724" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{:url('index/index/verkooppunten')}" class=""><span class="item_outer"><span class="item_text">Verkooppunten</span><span class="plus"></span></span></a></li>
<li id="sticky-nav-menu-item-11486" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="{:url('index/index/contact')}" class=""><span class="item_outer"><span class="item_text">Contact</span><span class="plus"></span></span></a></li>
</ul></nav>
{/block}
{block name="nav3"}     
<nav class="eltdf-mobile-nav">
    <div class="eltdf-grid">
        <ul id="menu-main-manu-2" class=""><li id="mobile-menu-item-11278" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/" class=""><span>Home</span></a></li>
<li id="mobile-menu-item-11569" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{:url('index/index/opscheppunten')}" class=""><span>Opscheppunten</span></a></li>
<li id="mobile-menu-item-11282" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item eltdf-active-item"><a href="{:url('index/index/ijsproducten')}" class=" current "><span>IJsproducten</span></a></li>
<li id="mobile-menu-item-11724" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{:url('index/index/verkooppunten')}" class=""><span>Verkooppunten</span></a></li>
<li id="mobile-menu-item-11486" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{:url('index/index/contact')}" class=""><span>Contact</span></a></li>
</ul>    </div>
</nav>
{/block}
{block name="content"}  
            <div class="eltdf-content" >
                <div class="eltdf-content-inner"><div class="eltdf-title eltdf-breadcrumb-type eltdf-content-left-alignment" style="height:100px;" data-height="100" >
        <div class="eltdf-title-holder" style="height:100px;">
        <div class="eltdf-container clearfix">
            <div class="eltdf-container-inner">
                <div class="eltdf-title-subtitle-holder" style="">
                    <div class="eltdf-title-subtitle-holder-inner">
                                                        <div class="eltdf-breadcrumbs-holder"> <div class="eltdf-breadcrumbs"><div class="eltdf-breadcrumbs-inner"><a href="http://heldro.test/">Home</a><span class="eltdf-delimiter">&nbsp; / &nbsp;</span><span class="eltdf-current">Producten</span></div></div></div>
                                                </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<div class="eltdf-container">
		<div class="eltdf-container-inner clearfix">
			<div class="eltdf-grid-row">
				<div class="eltdf-page-content-holder eltdf-grid-col-12">
					<div class="eltdf-pl-main-holder"><div class="taxonomy-description"><p>Hier kun je nieuwe producten toevoegen aan je winkel.</p>
</div><ul class="products columns-4">
<li class="product-category product first">
	<a href="http://heldro.test/product-categorie/vers-uit-de-ijsmachine/"><img src="__STATIC__/wp-content/uploads/2018/05/15-e1525348455881-300x300.jpg" alt="Vers uit de ijsmachine" width="300" height="300" srcset="__STATIC__/wp-content/uploads/2018/05/15-e1525348455881-300x300.jpg 300w, __STATIC__/wp-content/uploads/2018/05/15-e1525348455881-150x150.jpg 150w, __STATIC__/wp-content/uploads/2018/05/15-e1525348455881-768x767.jpg 768w, __STATIC__/wp-content/uploads/2018/05/15-e1525348455881-1024x1024.jpg 1024w, __STATIC__/wp-content/uploads/2018/05/15-e1525348455881-550x550.jpg 550w, __STATIC__/wp-content/uploads/2018/05/15-e1525348455881-1100x1100.jpg 1100w, __STATIC__/wp-content/uploads/2018/05/15-e1525348455881-600x599.jpg 600w, __STATIC__/wp-content/uploads/2018/05/15-e1525348455881-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" />		<h2 class="woocommerce-loop-category__title">
			Vers uit de ijsmachine <mark class="count">(8)</mark>		</h2>
		</a></li>
<li class="product-category product">
	<a href="http://heldro.test/product-categorie/thuis-genieten/"><img src="__STATIC__/wp-content/uploads/2018/05/9-e1525348286771-300x300.jpg" alt="Thuis genieten" width="300" height="300" srcset="__STATIC__/wp-content/uploads/2018/05/9-e1525348286771-300x300.jpg 300w, __STATIC__/wp-content/uploads/2018/05/9-e1525348286771-150x150.jpg 150w, __STATIC__/wp-content/uploads/2018/05/9-e1525348286771-768x767.jpg 768w, __STATIC__/wp-content/uploads/2018/05/9-e1525348286771-1024x1024.jpg 1024w, __STATIC__/wp-content/uploads/2018/05/9-e1525348286771-550x550.jpg 550w, __STATIC__/wp-content/uploads/2018/05/9-e1525348286771-1100x1100.jpg 1100w, __STATIC__/wp-content/uploads/2018/05/9-e1525348286771-600x599.jpg 600w, __STATIC__/wp-content/uploads/2018/05/9-e1525348286771-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" />		<h2 class="woocommerce-loop-category__title">
			Thuis genieten <mark class="count">(7)</mark>		</h2>
		</a></li>
<li class="product-category product">
	<a href="http://heldro.test/product-categorie/iets-te-vieren/"><img src="__STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-300x300.jpg" alt="Iets te vieren" width="300" height="300" srcset="__STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-300x300.jpg 300w, __STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-150x150.jpg 150w, __STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-768x767.jpg 768w, __STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-1024x1024.jpg 1024w, __STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-550x550.jpg 550w, __STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-1100x1100.jpg 1100w, __STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-600x599.jpg 600w, __STATIC__/wp-content/uploads/2017/03/iets-vieren-e1525166547236-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" />		<h2 class="woocommerce-loop-category__title">
			Iets te vieren <mark class="count">(6)</mark>		</h2>
		</a></li>
</ul>
</div><div class="eltdf-woo-pagination-holder"><div class="eltdf-woo-pagination-inner"></div></div>				</div>
							</div>
		</div>
	</div>			
</div> <!-- close div.content_inner -->
	</div>  <!-- close div.content -->
{/block}